@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.card-container {
  position: relative;
  width: 50%;
}

.card-container .btn {
  position: absolute;
  top: 7%;
  left: 89%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #FFF;
}

.details {
	margin-top: 10px;
}

.location {
	font-weight: 600;
}

.check-ins {
	margin-top: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.left {
  flex: 25%;
  overflow:scroll;
  overflow-x:hidden;
}

.map-container {
  height: 1100px;
}

.station-map-container {
  height: 500px;
}